*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

  main {
    min-height: 100vh; }

    img {
        width: 100%; }


        /* css HOME */

/* .imagenHome{
    width: 800px;
    height: 100vh;
} */

main{
    padding: 3rem;
}

/* COLORES PARA CADA FINCA */
.gris{
    background-color: rgb(193, 192, 192);
}
.amarillo{
    background-color: rgb(202, 202, 100);
}
.verde{
    background-color: rgb(126, 214, 126);
}
.azul{
    background-color: rgb(124, 205, 237);
}