*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

  body {
    min-height: 100vh; }

    img {
        width: 100%; }


        /* css HOME */

/* .imagenHome{
    width: 800px;
    height: 100vh;
} */

body{
    padding: 3rem;
    background-image: url(https://res.cloudinary.com/abrahama19/image/upload/v1663797425/Mujer_campo_fondo1_rlh9lk.jpg);
   background-repeat: no-repeat;
   background-size: cover;

}

.text-color{
    color: blue;
    
}

/* COLORES PARA CADA FINCA */
.gris{
    background-color: rgb(193, 192, 192);
}
.amarillo{
    background-color: rgb(202, 202, 100);
}
.verde{
    background-color: rgb(126, 214, 126);
}
.azul{
    background-color: rgb(124, 205, 237);
}